* {
    font-family: monospace;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 1.5em;
}

.title {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.content {
    width: 60%;
    margin: auto;
}

#reminder {
    position: fixed;
    border: 1px solid #fff;
    background-color: black;
    left: 12px;
    bottom: 0;
    padding: 6px;
}
