:root {
    --color-amber-regular: #FFB000;
    --color-amber-light: #FFCC00;
}

@font-face {
    font-family: 'ConsoleClassic';
    src: url('../css/fonts/clacon.ttf');
}

* {
    font-family: 'ConsoleClassic', Fallback, consolas;
}

body {
    background-color: #121212;
    color: var(--color-amber-light);
    font-size: 40px;
}

a {
    text-decoration: underline;
    color: var(--color-amber-regular);
}

button {
    font-size: 40px;
    border: none;
    background-color: transparent;
    color: var(--color-amber-regular);
    cursor: pointer;
}

.btn-left {
    position: fixed;
    top: 50%;
    left: 0;
}

.btn-right {
    position: fixed;
    top: 50%;
    right: 0; 
}

.title {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.content {
    width: 80%;
    margin: auto;
}

.hide {
    display: none;
}