:root {
    --color-amber-regular: #FFB000;
    --color-amber-light: #FFCC00;
}

@font-face {
    font-family: 'ConsoleClassic';
    src: url('../css/fonts/clacon.ttf');
}

* {
    font-family: 'ConsoleClassic', Fallback, consolas;
}

body {
    background-color: #121212;
    color: var(--color-amber-regular);
    font-size: 40px;
}

a {
    text-decoration: underline;
    color: var(--color-amber-light);
}

.title {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.content {
    width: 80%;
    margin: auto;
}